<form [formGroup]="userForm" (submit)="submit()" *ngIf="userForm">
    <mat-dialog-content>
        <h2 mat-dialog-title>{{user? user.fullName : 'New User'}}</h2>
    </mat-dialog-content>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="col-12">
                    <mat-label>Full Name</mat-label>
                    <input autocomplete="off" placeholder="Your full name" matInput type="email" id="fullName"
                           formControlName="fullName">
                    <mat-error *ngIf="userForm.controls['fullName']?.errors?.required">Full name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="col-12">
                    <mat-label>Email</mat-label>
                    <input autocomplete="off" placeholder="Your email address" matInput type="email" id="email"
                           formControlName="email">
                    <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.value?.length">wrong email format</mat-error>
                    <mat-error *ngIf="userForm.controls['email']?.errors?.required">Email is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="col-12">
                    <mat-label>Password</mat-label>
                    <input autocomplete="off" matInput placeholder="6 figures at least"
                           [type]="hide1 ? 'password' : 'text'" id="password" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.controls['password']?.errors?.required">Password is required</mat-error>

                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="col-12">
                    <mat-label>Repeat Password</mat-label>
                    <input autocomplete="off" matInput placeholder="6 figures at least"
                           [type]="hide2 ? 'password' : 'text'" id="passwordRepeat" formControlName="passwordRepeat">
                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="!testPasswords()">Must be identical to first password</mat-hint>

                </mat-form-field>
            </div>
        </div>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="userForm.invalid || !testPasswords()">{{user? 'Save' : 'Register'}}</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
